/* Sidebar.css */
.sidebar {
    width: 220px;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.sidebar h5 {
    font-weight: bold;
}

.sidebar-link {
    color: var(--text-color) !important;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar-wrapper{
    margin-top: 1px;
}
.sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
}

.sidebar-link:hover,
.sidebar-link.active-link {
    color: var(--primary-color) !important;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        flex-direction: row !important;
        justify-content: space-around;
        padding: 0.5rem 1rem;
        z-index: 1030;
    }

    .sidebar h5 {
        display: none;
    }

    .sidebar .nav {
        flex-direction: row !important;
        justify-content: space-around;
        width: 100%;
    }

    .sidebar-link span {
        display: none;
    }
}
